@model ProductViewModel
@inject IProductService _productService


@{ var descriptionParts = _productService.DivideDescription(Model.Description); }

<div class="col-md-4">
    <h5>@Model.Name</h5>
    <h4>@Html.DisplayNameFor(gadget => gadget.Price): @Html.DisplayFor(gadget => gadget.Price)</h4>

    <img height="300" width="400" src="~/images/gadgets/@Model.Image" />
    @foreach(var part in descriptionParts){ <p>@part</p><br /> }

    <div class="addToCart text-center">
        <a class="btn btn-primary" id="cartButton"
           asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@Model.Id">
            Add to cart
        </a>
    </div>

</div>
